.columnResults{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rowResults{
  display: flex;
  gap: 20px;
}

.numberResults{
  font-size: 250%;
  color: #F16101;
}

.textResults{
  color: #2B4369;
}

.textResults span {
  font-weight: 600;
}
